body {
	font-family: 'Open Sans', arial;
    font-size: .8em;
	color: black;
	background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-top:4%;
    margin-left:1%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

header {
	background-color: lightgray;
}

#heading {
margin-top:1.3%;
margin-left: 0;
}

#headertext {
	position: absolute;
    color: #840017;
    margin-left: 3%;
    margin-top: 1%;
    letter-spacing: .05em;
    position: relative;
	text-align: center;
	font-weight: 300;
	width: auto;
    margin-top: .5%;
    font-size: 4em;
}
/*
input#signin {
    background-color: #840017;
    position: absolute;
    border-radius: 1em;
    border: .25em solid black;
    color: white;
    width: auto;
    padding: .75% 2.75%;
    margin-top: 2.5%;
    margin-left: 90%;
    cursor: pointer;
}*/

div#about {
	position: relative;
	height: 300px;
	width: 300px;
	left: 500px;
	top: 160px;
}

img {
	position: absolute;
	width: 300px;
	height: auto;
}

p {
	position: absolute;
	font-size: 16px;
	color: gray;
	top: 255px;
	text-align: center;
}

div#form {
	position: absolute;
    height: 100%;
    width: 35%;
    margin-left: 70%;
    margin-top: 10%;
}

input {
    width: 60%;
    height: 2em;
    margin-top: 5%;
    border: .3em solid #840017;
    border-radius: .75em;
}
/*
input#FirstName {
	top: 5px;
}

input#LastName {
	top: 75px;
}

input#email {
    margin-top: 25%;	
    width: 60%;
}

input#password {
    margin-top: 35%;
}

input#ConfirmPassword {
	top: 285px;
}

input#submit {
	top: 355px;
}

input[type=text] {
	width: 200px;
    padding: 2.5%;
    border: .25em solid #840017;
    border-radius: .75em;
    outline: none;
}

input[type=text]:focus {
	box-shadow: 0 0 10px #840017;
}

input[type=password] {
	display: block;
	width: 300px;
	padding: 10px;
	border: 3px solid #840017;
    border-radius: 10px;
    outline: none;
}

input[type=password]:focus {
	box-shadow: 0 0 10px #840017;
}
*/
input[type=submit] {
    background-color: #840017;
    border-radius: .75em;
    border: .25em solid black;
    color: white;
    width: 20%;
    cursor: pointer;
}

#memberLogin {
    margin-left: 74%;
    margin-top:5%;
}

#signupForm {
    color: black;
    font-size: 1.5em;
}