* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
}

body {
	font-family: 'Open Sans', arial;
	font-size: 12px;
	color: black;
	background-color: white;
}

div#header {
	position: relative;
	background-color: lightgray;
	width: auto;
	height: 75px;
}

h1#headertext {
	position: absolute;
	color: #840017;
	left: 30px;
	top: 3px;
	letter-spacing: 2px;
}

input#signin {
    background-color: #840017;
    position: absolute;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    width: auto;
    padding: 10px 32px;
    margin: 4px 2px;
    top: 10px;
    left: 1700px;
    cursor: pointer;
}

h1 {
	position: relative;
	text-align: center;
	font-weight: 300;
	width: auto;
	top: 80px;
	padding: 10px 0px 10px 0px;
	font-size: 40px;
	color: gray;
}

div#about {
	position: relative;
	height: 300px;
	width: 300px;
	left: 500px;
	top: 160px;
}

img {
	position: absolute;
	width: 300px;
	height: auto;
}

p {
	position: absolute;
	font-size: 16px;
	color: gray;
	top: 255px;
	text-align: center;
}

div#form {
	position: absolute;
	height: 600px;
	width: 500px;
	left: 1000px;
	top: 310px;
}

input {
	position: absolute;
}

input#FirstName {
	top: 5px;
}

input#LastName {
	top: 75px;
}

input#email {
	top: 145px;
	width: 350px;
}

input#password {
	top: 215px;
}

input#ConfirmPassword {
	top: 285px;
}

input#submit {
	top: 355px;
}

input[type=text] {
	width: 200px;
	padding: 10px;
	border: 3px solid #840017;
    border-radius: 10px;
    outline: none;
}

input[type=text]:focus {
	box-shadow: 0 0 10px #840017;
}

input[type=password] {
	display: block;
	width: 300px;
	padding: 10px;
	border: 3px solid #840017;
    border-radius: 10px;
    outline: none;
}

input[type=password]:focus {
	box-shadow: 0 0 10px #840017;
}

input[type=submit] {
    background-color: #840017;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    padding: 10px 32px;
    margin: 4px 2px;
    cursor: pointer;
}
